doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    div(id="root")
      //- .modal__form
      //-   form(action="" class="form")
      //-     .modal__header Выберите псевдомим
      //-     //- .modal__content
      //-     .form_content
      //-       .modal__body
      //-         input(type="text" class="form__input" required)
      //-         .form__label
      //-         //- .modal__footer
      //-         button(type="submit" class="modal__footer") Продолжить
      //-       .form__group

      .container
        //- .chat__header
          .chat__connect
        .chat__header header
          .chat__connect vnjdsj
          .chat__connect vnjdsj

        .chat__container
          .chat__area
            .chat__messages-container              
              .message__container.message__container-interlocutor
                .message__header Глория
              .message__container.message__container-yourself
                .message__header Me
                .message__content Приветики
            .chat__messages-input
              input(type="text" class="form__input" required)
          .chat__userlist
            .chat__user.chat__connect Hanz
            .chat__user Valerie

        

      //- .modal__form
        .modal__background
        //- .modal__content
          //- .modal__background
            //- .modal__header Выберите псевдомим
            //- .modal__body
              //- form(action="" class="form__group") 
                //- input(type="text" class="form__input" required)
                //- .modal__ok Продолжить
            //- .modal__footer


    //- p 
    //-   a(href="//google.com" class="link") Link with href
    //-   //- button(class="btn" type='button') Button
    //- .collapse Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      //- .collapse-text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

    //- p Файл откомпилирован шаблонизатором Pug
    //- .subscribe
    //-   form(class='subscribe-form' method='POST' action="http://localhost:7070") 
    //-     input(class="name" name="name" class="input" required)
    //-     input(class="phone" name="phone" class="input" required)
    //-     button(class="btn") Записаться
    //-     button(class="unsubscribe-btn") Отписаться
    //- .logo-png
    //-   img.logo1(src=require('./images/image.png') alt='Загрузка PNG изображений с помощью Webpack')
    //-   //- изображение запрашивается как модуль
    //- .logo-svg
    //-   img.logo2(src=require('./images/logo.svg'), alt='Загрузка SVG изображений с помощью Webpack')